<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div>
      <h2>
      <i class="glyphicon glyphicon-list"></i>
      <b>List User</b>
      </h2>
    </div>
    <hr style="display: block;height: 1px;border: 5;border-top: 3px solid #ccc;margin: 1em 0;padding: 0;">
    <div>
      <table class="table table-hover" border="3">
        <th class="active">_id</th>
        <th class="active">Company Name</th>
        <th class="active">Address</th>
        <th class="active">state</th>
        <th class="active">city</th>
        <th class="active">pincode</th>
        <th class="active">email</th>
        <th class="active">ownerName</th>
        <th class="active">mobile1</th>
        <th class="active">mobile2</th>
        <th class="active">landline</th>
        <th class="active">panNo</th>
        <th class="active">tinNo</th>
        <th class="active">GSTNo</th>
        <th class="active">Update</th>
        <th class="active">Delete</th>
        <tr ng-repeat="user in vm.users">
          <td> {{user._id}} </td>
          <td> {{user.companyName}} </td>
          <td> {{user.address}} </td>
          <td> {{user.state }} </td>
          <td> {{user.city }} </td>
          <td> {{user.pincode }} </td>
          <td> {{user.email }} </td>
          <td> {{user.ownerName }} </td>
          <td> {{user.mobile1 }} </td>
          <td> {{user.mobile2 }} </td>
          <td> {{user.landline }} </td>
          <td> {{user.panNo }} </td>
          <td> {{user.tinNo }} </td>
          <td> {{user.GSTNo }} </td>
          <td>
            <button value="Update" class="btn btn-primary" ng-click="vm.updateProduct(product._id)"> Update </button>
          </td>
          <td>
            <button value="Delete" class="btn btn-danger" ng-click="vm.deleteProduct(product._id);"> Delete </button>
          </td>
        </tr>
      </table>
      <br>
      <!-- <a href="http://localhost:5000/#/products/add" class="btn btn-default">Add another Product</a>
 --></div>
  </div>
</div>
</div>
